{% extends "layout/app-layout.html" %}

{% set name = "Person Details" %}
{% block title %}{{ name }}{% endblock %}

{% block content %}
    <div class="12 mt-3">
        <div class="card br-card rounded-0 card-t-head mb-3">
            <div class="bg-holder d-none d-lg-block bg-left"></div>
            <div class="card-body top-nav-table-header">
                <div class="d-md-flex justify-content-between d-sm-block align-items-center">
                    <div class="mb-0 fw-bolder">{{name}}</div>
                </div>
            </div>
        </div>

        <div class="card rounded-0">
            <div class="card-body">
                <div class="row form-details g-2">
                    {% form_view field=form.name, wrapper="col-md-12" %}
                    {% form_view field=form.email, wrapper="col-md-6" %}
                    {% form_view field=form.address, wrapper="col-md-12" %}
                    <div class="col-12 mt-3">
                        <span class="float-end">
                            <a href="{{ url_for("person_controller.update", id=data.id) }}" type="submit" class="btn btn-primary">Edit</a>
                            <a href="{{ url_for("person_controller.list") }}" class="btn btn-danger ms-2">Cancel</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}